
/* css */

h1 {
  font-family: Arial;
  font-size: 50px;
  color: #366775;
  text-align: center;
}
h4 {
  font-family: Arial;
  font-size: 24px;
  color: #365D75;
}
normal-text {
  color:#003945;
}

body {
  font-family: Georgia;
  color:#003945;
  font-size: 16px;
  background-color: #FDF2F0;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

table {
  height: 30%;
  left: 10%;
  margin: 15px auto;
  overflow-y: scroll;
  position: static;
  width: 90%;
}

thead th {
  background: white;
  color: #366775;
  font-family: 'Arial';
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: white;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

td {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}
